
.graphics-heading{
    /* border: 1px solid black; */
    color: #23262B;
    font-size: 4rem;
    margin: 3rem 0 0 0;
}


.graphics-products{
    /* border: 2px solid purple; */
    padding-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
}


@media screen and (max-width: 500px) {
    .graphics-heading{
        /* border: 1px solid black; */
        color: #23262B;
        font-size: 3rem;
        margin: 2rem 0 0 0;
        padding-left: 1rem;
    }
    
    
    .graphics-products{
        /* border: 2px solid purple; */
        padding-bottom: 3rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}