.signin-page {
  /* border: 1px solid red; */
  height: 88vh;
  display: flex;
}
.signin-container1 {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-signin-text {
  /* border: 1px solid blue; */
  width: 80%;
  height: 30%;
  padding: 1rem;
}
.inner-signin-text h1 {
  color: #23262b;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}
.inner-signin-text p {
  color: #23262b;
  font-size: 1.6rem;
  margin: 2rem 0 0 0;
}

.signin-container2 {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-container2 form {
  /* border: 1px solid black; */
  width: 60%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* height: 50%; */
}
.signin-container2 label {
  font-size: 1.3rem;
  padding: 0;
  margin-bottom: 0.5rem;
}
.signin-container2 input[type="text"] {
  width: 100%;
  outline: none;
  height: 3rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 1.3rem;
  border: 1px solid lightgray;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.signin-container2 input[type="submit"] {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  background: #23262b;
  color: #eee;
  border-radius: 8px;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.signin-container2 input[type="submit"]:hover {
  background: #eee;
  color: #23262b;
}
